
.next/
node_modules/
dist/

.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
apps/api/tsdown.config.js.map
apps/api/tsdown.config.js
apps/api/tsdown.config.d.ts
apps/api/tsconfig.build.tsbuildinfo
